@model LesGrupo8Bioterio.PlanoAlimentar
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Página Inicial</a></li>
        <li class="breadcrumb-item"><a asp-controller="Projetoes" asp-action="Index">Projetos</a></li>
        <li class="breadcrumb-item"><a asp-controller="CircuitoTanques" asp-action="Index">Circuito de Tanques</a></li>
        <li class="breadcrumb-item"><a asp-controller="Tanques" asp-action="Index">Tanques</a></li>
        <li class="breadcrumb-item"><a asp-action="Index">Plano Alimentar</a></li>
        <li class="breadcrumb-item active" aria-current="page">Eliminar</li>
    </ol>
</nav>
@if (Model.isDeletable)
{
    <h3 class="alert alert-danger">
        <ul>
            <li> Tem a certeza que pretende Eliminar este Plano Alimentar?</li>
            <li>Ao Eliminar este Plano Alimentar estará a Eliminar todos os Registos Alimentares associados ao mesmo!</li>
        </ul>
    </h3>
}
else
{

    <h3 class="alert alert-danger">
        <ul>
            <li> Não é possível Eliminar este Plano Alimentar</li>
            <li>Devido a existir Registos Alimentares que dependem deste Plano Alimentar</li>
        </ul>
    </h3>
}
<div class="col-md-4">


    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MarcaAlim)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MarcaAlim)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Temperatura)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Temperatura)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Racao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Racao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RacaoDia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RacaoDia)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdPlanAlim" />
        @if (Model.isDeletable)
        {
            <input type="submit" value="Eliminar" class="btn btn-danger" />

        }


        <a type="button" class="btn btn-info pull-right" asp-action="Index">Cancelar</a>
    </form>
</div>
