@model LesGrupo8Bioterio.PlanoAlimentar
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Detalhes do Plano Alimentar</h2>
<div class="table-bordered">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MarcaAlim)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MarcaAlim)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Temperatura)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Temperatura)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Racao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Racao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RacaoDia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RacaoDia)
        </dd>
    </dl>
</div>
<div>
    <div class="form-group">
        <a type="button" class="btn btn-info" asp-action="Edit" asp-route-id="@Model.IdPlanAlim">Editar</a>
        <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.IdPlanAlim">Eliminar</a>
        <a type="button" class="btn btn-info" asp-action="Index">Cancelar</a>
    </div>
</div>
