@model LesGrupo8Bioterio.Elementoequipa
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Página Inicial</a></li>
        <li class="breadcrumb-item"><a asp-controller="Projetoes" asp-action="Index">Projetos</a></li>
        <li class="breadcrumb-item"><a asp-action="Index">Elementos de Equipa</a></li>
        <li class="breadcrumb-item active" aria-current="page">Eliminar</li>
    </ol>
</nav>

<h2>Eliminar</h2>
<h3 class="alert alert-danger">
    Tem a certeza que pretende apagar este campo?
</h3>
<div>
    <h4>Elemento de Equipa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Função)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Função)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.ProjetoIdProjetoNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjetoIdProjetoNavigation.Nome)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdElementoEquipa" />
        <input type="submit" value="Apagar" class="btn btn-danger" />
        <a type="button" class="btn btn-info pull-right" asp-action="Index">Cancelar</a>
    </form>
</div>
