@model LesGrupo8Bioterio.Elementoequipa

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Elementoequipa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Função)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Função)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FuncionarioIdFuncionarioNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FuncionarioIdFuncionarioNavigation.NomeCompleto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjetoIdProjetoNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjetoIdProjetoNavigation.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdElementoEquipa">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
