@model LesGrupo8Bioterio.Elementoequipa

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes</h2>

<div>
    <h4>Elemento de Equipa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Função)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Função)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FuncionarioIdFuncionarioNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FuncionarioIdFuncionarioNavigation.NomeCompleto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjetoIdProjetoNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjetoIdProjetoNavigation.Nome)
        </dd>
    </dl>
</div>
<div>
    <a type="button" class="btn btn-success" asp-action="Edit" asp-route-id="@Model.IdElementoEquipa">Editar</a>
    <a type="button" class="btn btn-info" asp-action="Index">Cancelar</a>
    <a type="button" class="btn btn-danger pull-right" asp-action="Delete" asp-route-id="@Model.IdElementoEquipa">Eliminar</a>
</div>
