@model LesGrupo8Bioterio.Ensaio

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Ensaio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataFim)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataFim)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DescTratamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescTratamento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GrauSeveridade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GrauSeveridade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MembroEquipaIdEquipa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MembroEquipaIdEquipa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LoteIdLoteNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LoteIdLoteNavigation.CodigoLote)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjetoIdProjetoNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjetoIdProjetoNavigation.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdEnsaio">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
