@model LesGrupo8Bioterio.RegTratamento

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Página Inicial</a></li>
        <li class="breadcrumb-item"><a asp-controller="Projetoes" asp-action="Index">Projetos</a></li>
        <li class="breadcrumb-item"><a asp-controller="CircuitoTanques" asp-action="Index">Circuito de Tanques</a></li>
        <li class="breadcrumb-item"><a asp-controller="Tanques" asp-action="Index">Tanques</a></li>
        <li class="breadcrumb-item"><a asp-action="Index">Registo de Tratamentos</a></li>
        <li class="breadcrumb-item active" aria-current="page">Eliminar</li>
    </ol>
</nav>
<h3 class="alert alert-danger">
    <ul>
        <li> Tem a certeza que pretende Eliminar este Registo de Tratamento?</li>
    </ul>
</h3>
<div class="col-md-4">
    <hr />
    <dl class="dl-horizontal">
        <dt>

            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.data)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tempo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tempo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Concentracao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Concentracao)
        </dd>
       
        <dt>
            @Html.DisplayNameFor(model => model.AgenteTratIdAgenTraNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AgenteTratIdAgenTraNavigation.NomeAgenTra)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FinalidadeIdFinalidadeNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FinalidadeIdFinalidadeNavigation.IdFinalidade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TanqueIdTanqueNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TanqueIdTanqueNavigation.codidenttanque)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdRegTra" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a type="button" class="btn btn-info pull-right" asp-action="Index">Cancelar</a>
    </form>
</div>
    </div>
