@model IEnumerable<LesGrupo8Bioterio.RegTratamento>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tempo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Concentracao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ConcAgenTra)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.AgenteTratIdAgenTraNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinalidadeIdFinalidadeNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TanqueIdTanqueNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tempo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Concentracao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConcAgenTra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgenteTratIdAgenTraNavigation.NomeAgenTra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinalidadeIdFinalidadeNavigation.IdFinalidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TanqueIdTanqueNavigation.Sala)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdRegTra">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdRegTra">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdRegTra">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
