@model LesGrupo8Bioterio.RegAmostragens

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="alert alert-danger">
    <ul>
        <li> Tem a certeza que pretende Eliminar este registo de amostragem?</li>
    </ul>
</h3>
    <div class="table-bordered">
        <h4>Registo de Amostragem</h4>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Data)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Data)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PesoMedio)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PesoMedio)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.NroIndividuos)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NroIndividuos)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PesoTotal)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PesoTotal)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TanqueIdTanqueNavigation)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TanqueIdTanqueNavigation.Sala)
            </dd>
        </dl>
   
        <form asp-action="Delete">
            <input type="hidden" asp-for="IdRegAmo" />
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            <a type="button" class="btn btn-info pull-right" asp-action="Index">Cancelar</a>
        </form>
    </div>
</div>
