@model LesGrupo8Bioterio.RegAmostragens
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Página Inicial</a></li>
        <li class="breadcrumb-item"><a asp-controller="RegAmostragens" asp-action="Index">Registo de Amostragem</a></li>
        <li class="breadcrumb-item active" aria-current="page">Detalhes de Registo de Amostragem</li>
    </ol>
</nav>
<h2>Detalhes</h2>
<div>
    <h4>Registo de Amostragens</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.data)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PesoMedio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PesoMedio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NroIndividuos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NroIndividuos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PesoTotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PesoTotal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TanqueIdTanqueNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TanqueIdTanqueNavigation.codidenttanque)
        </dd>
    </dl>
</div>
<div class="form-group">
    <a type="button" class="btn btn-success" asp-action="Edit" asp-route-id="@Model.IdRegAmo">Editar</a>
    <a type="button" class="btn btn-danger pull-right" asp-action="Delete" asp-route-id="@Model.IdRegAmo">Eliminar</a>
    <a type="button" class="btn btn-info" asp-action="Index">Voltar à lista</a>
</div>
        </div>
