@model IEnumerable<LesGrupo8Bioterio.RegAmostragens>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Data)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PesoMedio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NroIndividuos)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PesoTotal)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.TanqueIdTanqueNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PesoMedio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NroIndividuos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PesoTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TanqueIdTanqueNavigation.Sala)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdRegAmo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdRegAmo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdRegAmo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
