@model LesGrupo8Bioterio.RegRemocoes
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Página Inicial</a></li>
        <li class="breadcrumb-item"><a asp-controller="Projetoes" asp-action="Index">Projetos</a></li>
        <li class="breadcrumb-item"><a asp-controller="CircuitoTanques" asp-action="Index">Circuito de Tanques</a></li>
        <li class="breadcrumb-item"><a asp-controller="Tanques" asp-action="Index">Tanques</a></li>
        <li class="breadcrumb-item"><a asp-controller="RegRemocoes" asp-action="Index">Registo de Remoções</a></li>
        <li class="breadcrumb-item active" aria-current="page">Detalhes</li>
    </ol>
</nav>
<h2>Detalhes</h2>
<div>
    <h4>Registo de Remoções</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NroRemoções)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NroRemoções)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CausaMorte)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CausaMorte)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MotivoIdMotivoNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MotivoIdMotivoNavigation.NomeMotivo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TanqueIdTanqueNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TanqueIdTanqueNavigation.Sala)
        </dd>
    </dl>
</div>
<div class="form-group">
    <a type="button" class="btn btn-success" asp-action="Edit" asp-route-id="@Model.IdRegRemo">Editar</a>
    <a type="button" class="btn btn-danger pull-right" asp-action="Delete" asp-route-id="@Model.IdRegRemo">Eliminar</a>
    <a type="button" class="btn btn-info" asp-action="Index">Voltar à lista</a>
</div>
