@model LesGrupo8Bioterio.RegRemocoes

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>RegRemocoes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NroRemoções)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NroRemoções)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CausaMorte)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CausaMorte)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MotivoIdMotivoNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MotivoIdMotivoNavigation.NomeMotivo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TanqueIdTanqueNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TanqueIdTanqueNavigation.Sala)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdRegRemo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
