@model IEnumerable<LesGrupo8Bioterio.RegRemocoes>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NroRemoções)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CausaMorte)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.MotivoIdMotivoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TanqueIdTanqueNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NroRemoções)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CausaMorte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MotivoIdMotivoNavigation.NomeMotivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TanqueIdTanqueNavigation.Sala)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdRegRemo"><span class="glyphicon glyphicon-pencil"></span></a> |
                <a asp-action="Details" asp-route-id="@item.IdRegRemo"><span class="glyphicon glyphicon-eye-open"></span></a> |
                <a asp-action="Delete" asp-route-id="@item.IdRegRemo"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
}
    </tbody>
</table>
