@model IEnumerable<LesGrupo8Bioterio.Models.Lote>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CodigoLote)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataInicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataFim)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Observacoes)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.FuncionarioIdFuncionarioNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegNovosAnimaisIdRegAnimalNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoLote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacoes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuncionarioIdFuncionarioNavigation.NomeCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegNovosAnimaisIdRegAnimalNavigation.IdRegAnimal)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdLote">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdLote">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdLote">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
