@model LesGrupo8Bioterio.CircuitoTanque

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="alert alert-danger">
    <ul>
        <li> Tem a certeza que pretende Eliminar este Circuito de Tanque?</li>
        <li>Ao Eliminar este Circuito estará a Eliminar todos os Tanques assim como todos os registos associados aos mesmos!</li>
        <li>Estará ainda a eliminar tambem os Registos de Condições Ambientais associados ao Circuito!</li>
    </ul>
</h3>
<div class="table-bordered">
    <hr />  
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodigoCircuito)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodigoCircuito)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataCriacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dateCriacao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataFinal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dateFinal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjetoIdProjetoNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjetoIdProjetoNavigation.Nome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdCircuito" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> 
        <a type="button" class="btn btn-info pull-right" asp-action="Index">Cancelar</a>
    </form>
</div>
