@model IEnumerable<LesGrupo8Bioterio.Models.RegNovosAnimais>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NroExemplares)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NroMachos)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NroFemeas)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Imaturos)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Juvenis)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Larvas)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ovos)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataNasc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Idade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PesoMedio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompMedio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DuracaoViagem)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TempPartida)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TempChegada)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NroContentores)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipoContentor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VolContentor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VolAgua)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NroCaixasIsoter)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NroMortosCheg)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SatO2transp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Anestesico)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gelo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AdicaoO2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Arejamento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Refrigeracao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sedação)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RespTransporte)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EspecieIdEspecie)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LocalCapturaIdLocalCaptura)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.FornecedorIdFornColectNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FuncionarioIdFuncionario1Navigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FuncionarioIdFuncionarioNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TOrigemIdTOrigemNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoEstatutoGeneticoIdTipoEstatutoGeneticoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NroExemplares)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NroMachos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NroFemeas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imaturos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Juvenis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Larvas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ovos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNasc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PesoMedio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompMedio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DuracaoViagem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempPartida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempChegada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NroContentores)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoContentor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolContentor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolAgua)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NroCaixasIsoter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NroMortosCheg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SatO2transp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anestesico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdicaoO2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arejamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Refrigeracao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sedação)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RespTransporte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EspecieIdEspecie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocalCapturaIdLocalCaptura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FornecedorIdFornColectNavigation.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuncionarioIdFuncionario1Navigation.NomeCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuncionarioIdFuncionarioNavigation.NomeCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TOrigemIdTOrigemNavigation.IdTOrigem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoEstatutoGeneticoIdTipoEstatutoGeneticoNavigation.IdTipoEstatutoGenetico)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdRegAnimal">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdRegAnimal">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdRegAnimal">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
