@model LesGrupo8Bioterio.RegAlimentar

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="alert alert-danger">
    <ul>
        <li> Tem a certeza que pretende Eliminar este Registo Alimentar?</li>
        <li>Ao Eliminar este Registo Alimentar Eliminará todos os dados associados ao mesmo!</li>
    </ul>
    </h3>
    <div class="table-bordered">
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Data)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.data)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Peso)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Peso)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Sobras)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Sobras)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PlanoAlimentarIdPlanAlimNavigation)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PlanoAlimentarIdPlanAlimNavigation.Nome)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TanqueIdTanqueNavigation)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TanqueIdTanqueNavigation.codidenttanque)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="IdRegAlim" />
            <input type="submit" value="Eliminar" class="btn btn-danger" /> 
            <a type="button" class="btn btn-info pull-right" asp-action="Index">Cancelar</a>
        </form>
    </div>
