@model LesGrupo8Bioterio.RegAlimentar
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Detalhes do Registo Alimentar</h2>
<div class="table-bordered">

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.data)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Peso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Peso)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sobras)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sobras)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlanoAlimentarIdPlanAlimNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlanoAlimentarIdPlanAlimNavigation.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TanqueIdTanqueNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TanqueIdTanqueNavigation.codidenttanque)
        </dd>
    </dl>
    <div class="form-group">
        <a type="button" class="btn btn-info" asp-action="Edit" asp-route-id="@Model.IdRegAlim">Editar</a>
        <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.IdRegAlim">Eliminar</a>
        <a type="button" class="btn btn-info" asp-action="Index">Cancelar</a>
    </div>
</div>


