@model IEnumerable<LesGrupo8Bioterio.RegAlimentar>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Data)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Peso)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sobras)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.PlanoAlimentarIdPlanAlimNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TanqueIdTanqueNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    item.data = item.Data.Year + "/" + item.Data.Month + "/" + item.Data.Year;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Peso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sobras)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlanoAlimentarIdPlanAlimNavigation.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TanqueIdTanqueNavigation.codidenttanque)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdRegAlim"><span class="glyphicon glyphicon-pencil"></span></a> |
                <a asp-action="Details" asp-route-id="@item.IdRegAlim"><span class="glyphicon glyphicon-eye-open"></span></a> |
                <a asp-action="Delete" asp-route-id="@item.IdRegAlim"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
}
    </tbody>
</table>
