@model LesGrupo8Bioterio.RegCondAmb

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>RegCondAmb</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Temperatura)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Temperatura)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VolAgua)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VolAgua)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SalinidadeAgua)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SalinidadeAgua)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NivelO2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NivelO2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CircuitoTanqueIdCircuitoNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CircuitoTanqueIdCircuitoNavigation.IdCircuito)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdRegCondAmb">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
