@model LesGrupo8Bioterio.Tanque
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";//codidenttanque
}

    <h3 class="alert alert-danger">
        <ul>
            <li> Ao Arquivar este Tanque estará Tambem arquivar os registos associados ao mesmo</li>
            <li> Poderá consultar os dados do Tanque e dos Registos associados ao mesmo posteriosrmente</li>
            <li> <b>Não é Possivel Editar os dados após esta ação</b></li>
        </ul>
    </h3>

    <div class="col-md-4">
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.codidenttanque)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.codidenttanque)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.NroAnimais)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NroAnimais)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Sala)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Sala)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Observacoes)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Observacoes)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CircuitoTanqueIdCircuitoNavigation)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CircuitoTanqueIdCircuitoNavigation.IdCircuito)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.LoteIdLoteNavigation)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LoteIdLoteNavigation.CodigoLote)
            </dd>
        </dl>

       
        <form asp-action="Delete">
            <input type="hidden" asp-for="IdTanque" />
            <input type="submit" value="Arquivar" class="btn btn-danger" />
            <a type="button" class="btn btn-info pull-right" asp-action="Index">Cancelar</a>
        </form>
        
    </div>
