@model IEnumerable<LesGrupo8Bioterio.Tanque>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NroAnimais)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sala)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Observacoes)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.CircuitoTanqueIdCircuitoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoteIdLoteNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NroAnimais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sala)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacoes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CircuitoTanqueIdCircuitoNavigation.IdCircuito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoteIdLoteNavigation.CodigoLote)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTanque"><span class="glyphicon glyphicon-pencil"></span></a> |
                <a asp-action="Details" asp-route-id="@item.IdTanque"><span class="glyphicon glyphicon-eye-open"></span></a> |
                <a asp-action="Delete" asp-route-id="@item.IdTanque"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
}
    </tbody>
</table>
