@model LesGrupo8Bioterio.Projeto

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Página Inicial</a></li>
        <li class="breadcrumb-item"><a asp-controller="Projetoes" asp-action="Index">Projetos</a></li>
            <li class="breadcrumb-item active" aria-current="page">Arquivar</li>
    </ol>
</nav>
<h2>Arquivar</h2>

<h3 class="alert alert-danger">
    <ul>
        <li> Tem a certeza que pretende Arquivar este Projeto?</li>
        <li>Ao Arquivar este Projeto estará a Arquivar todos os Ensaios assim como todos os Circuitos associados ao mesmo!</li>
        <li>Estará ainda a Arquivar tambem os Registos de elementos que tenham trabalhado neste projeto!</li>
        <li>Após arquivada toda a informação passará a ser inalterável</li>
    </ul>
</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.data)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataFim)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.data2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AutorizacaoDgva)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AutorizacaoDgva)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RefOrbea)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RefOrbea)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubmisInsEurop)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.auto_Euro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NroAnimaisAutoriz)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NroAnimaisAutoriz)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdProjeto" />
        <input type="submit" value="Arquivar" class="btn btn-danger" /> 
        <a type="button" class="btn btn-primary" asp-action="Index">Cancelar</a>
    </form>
</div>
