@model LesGrupo8Bioterio.Projeto

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3 class="alert alert-danger">
    <ul>
        <li> Tem a certeza que pretende Eliminar este Projeto?</li>
        <li>Ao Eliminar este Projeto estará a Eliminar todos os Ensaios assim como todos os Circuitos associados ao mesmo!</li>
        <li>Estará ainda a eliminar tambem os Registos de elementos que tenham trabalhado neste projeto!</li>
    </ul>
</h3>
<div>
    <h4>Projeto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataFim)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataFim)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AutorizacaoDgva)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AutorizacaoDgva)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RefOrbea)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RefOrbea)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubmisInsEurop)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubmisInsEurop)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NroAnimaisAutoriz)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NroAnimaisAutoriz)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdProjeto" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a type="button" class="btn btn-primary" asp-action="Index">Back to List</a>
    </form>
</div>
