@model LesGrupo8Bioterio.Projeto
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.isarchived == 1)
{
    <h3 class="alert alert-danger">
        <ul>
            <li> Este Projeto encontra-se <b>Arquivado</b> </li>
        </ul>
    </h3>
}
<div class="col-lg-12">
    <h4>Projeto</h4>
    <hr />
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DataInicio)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.data)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DataFim)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.data2)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AutorizacaoDgva)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AutorizacaoDgva)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.RefOrbea)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.RefOrbea)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.SubmisInsEurop)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.auto_Euro)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.NroAnimaisAutoriz)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NroAnimaisAutoriz)
            </dd>
        </dl>

    </div>

    <div class="col-md-6">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#ensaios" id="ensaios_tab">Ensaios</a></li>
            <li><a data-toggle="tab" href="#membros" id="membros_tab">Membros</a></li>
            <li><a data-toggle="tab" href="#Circuitos" id="circuito_tab">Circuito</a></li>
        </ul>
        <div class="tab-content">
            <div id="ensaios" class="tab-pane fade in active">
                @* <a type="button" class="btn btn-success" asp-controller="Ensaios" asp-action="Create" asp-route-id="@Model.IdProjeto">Registar Ensaio </a>*@
                @if (Model.objetoEN != null)
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.dummyEnsaio.DataInicio)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.dummyEnsaio.DataFim)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.dummyEnsaio.DescTratamento)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.dummyEnsaio.GrauSeveridade)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.dummyEnsaio.LoteIdLoteNavigation)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.objetoEN)
                            {
                                item.data = item.DataInicio.Day + "/" + item.DataInicio.Month + "/" + item.DataInicio.Year;
                                item.data2 = item.DataFim.Day + "/" + item.DataFim.Month + "/" + item.DataFim.Year;
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modell => item.data)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modell => item.data2)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modell => item.DescTratamento)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modell => item.GrauSeveridade)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modell => item.LoteIdLoteNavigation.CodigoLote)
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
            <div id="membros" class="tab-pane fade">
                @if (Model.objetoEE != null)
                {

                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.dummyEE.Nome)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.dummyEE.Função)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.objetoEE)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(model => item.Nome)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Função)
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
            <div id="Circuitos" class="tab-pane fade">
               
                @if (Model.CircuitoQuery != null)
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Codigo Circuito
                                </th>
                            </tr>
                           
                        </thead>
                        <tbody>
                            @foreach (var item in Model.CircuitoQuery)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(model => item.CodigoCircuito)
                                        @*<a asp-controller="CircuitoTanques" asp-action="Details" asp-route-id="@Model.CircuitoQuery.IdCircuito"><span class="glyphicon glyphicon-eye-open"></span></a>*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <h4>Nenhum Circuito Associado</h4>
                }
            </div>
        </div>
    </div>

</div>
<div>
    @if (Model.isarchived == 0)
    {
    <a type="button" class="btn btn-success" asp-action="Edit" asp-route-id="@Model.IdProjeto">Editar</a>}
    <a type="button" class="btn btn-primary" asp-action="Index">Retornar</a>
    @if(Model.isarchived == 0){
    <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.IdProjeto">Arquivar Projeto</a>}
</div>
</div>
